.vs
output/
packages/
[Bb]in/
[Rr]elease/
[Dd]ebug/
[Oo]bj/
*.suo
*.user
*.log
hangfire.db
logfile/
crawl_log/
apks/
logs/
*.apk
FileStore/
*.exe
/dist/portal
/src/Rpa.Portal/Properties/PublishProfiles/FolderProfile.pubxml
src/Rpa.Portal/wwwroot/sem7m/index.html
